* {
	outline: none;
	box-sizing: border-box
}

body, html {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0
}

span {
	color: $accent;
}

body {
	position: relative;
	min-width: 300px;
	display: flex;
	height: auto;
	font-family: $ff;
	font-size: $fs-md;
	line-height: $lh;
	color: $black;
	background-color: $white
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

svg {
	display: block;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none
}

section {
    padding: 30px 0;
    background: $main;

    @media all and (min-width: $md) {
		padding: 40px 0 40px;
	}

    @media all and (min-width: $lg) {
		padding: 60px 0 60px;
	}
}


.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;

	.footer {
		margin-top: auto
	}
}