h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $ff-title;
	font-weight: $fw-bold;
	line-height: $lh-title;
}

h1, .h1 {
	font-size: $fs-sm;
	margin: 0 0 40px 0;

	span {
		font-family: $ff-main;
		color: $accent;
	}

	@media all and (min-width: $lg) {
		font-size: $fs-xl;
	}
}

h2, .h2 {
	font-size: $fs-lg;

	@media all and (min-width: $lg) {
		font-size: 36px
	}
}

h3, .h3 {
	font-size: 30px
}

h4, .h4 {
	font-size: $fs-xl;

	@media all and (min-width: $lg) {
		font-size: 24px
	}
}

h5, .h5 {
	font-size: $fs-xl
}

h6, .h6 {
	font-size: $fs-lg
}

a {
	display: inline-block;
	transition: color ease-out $tr;

	&:hover {
		opacity: $op;
	}
}

p {
	margin: 0;
}

b, strong {
	font-weight: $fw-bold
}