// Grid.
$xs	: 375px;
$sm	: 480px;
$md	: 768px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1366px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1200px;

// Container padding.
$container-padding: 24px;

// Font families.
$ff			: 'Montserrat', sans-serif;
$ff-title	: 'Raleway', sans-serif;
$ff-main	: 'Fira-Sans', sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 18px;
$fs-m	: 20px;
$fs-md	: 24px;
$fs-lg	: 40px;
$fs-xl	: 60px;

// Font weights.
$fw-regular	: 400;
$fw-bold	: 700;

// Line heights.
$lh			: 1.5;
$lh-title	: 1.3;

// Colors.
$white	: #FFFFFF;
$black	: #000000;
$main   : #16213E;
$dark   : #0F3460;
$accent : #E94560;

// Others.
$tr: 0.35s;

// opacity
$op: 0.7;