.hero {
	padding: 120px 0 40px; //120 0 100
	background: $dark;
	position: relative;
	overflow: hidden;

	.container {
		max-width: $xxl;
	}

	&-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 100;
		transform: translateX( 0 );
		transition: transform ease 1s;
	}

	h1 {
		font-family: $ff-main;
		line-height: $lh-title;
		color: $white;
	}

	.hero-subtitle {
		font-family: $ff;
		font-size: $fs-sm; //23
		line-height: $lh;
		color: $white;
		text-align: center;
		margin-bottom: 30px; //0
	}

	&-image {
		position: relative;

		.hero-image-1 {
			border-radius: 50px;
			filter: grayscale( 70% );
		}

		.hero-image-2 {
			opacity: 0;
			position: absolute;
			border-radius: 50px;
			left: 0;
			top: 0;
			animation: img 4s forwards;

			@keyframes img {
				from {
					opacity: 0;
				}
				to {
					opacity: 1;
				}
			}
		}
	}

	.hero-text {
		display: inline-block;
		width: 174px;
	}
}