.header {
    padding: 19px 0;
    width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 200;
    background: $white;
    transition:
        padding ease-out $tr,
        box-shadow ease-out $tr;

    &.scrolled {
        box-shadow: 1px 3px 4px 1px whitesmoke;
        padding: 10px 0;
    }

    .container {
        max-width: $xxl;
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logo {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease $tr;
    }

    &-menu {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &-menu-item {
        font-family: $ff;
        line-height: $lh;
        font-size: $fs-m;
        margin-right: 5%;
        color: $dark;
        transition: ease $tr;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }
    }
}
